* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}
strong {
    font-weight: 700;
}
em {
    font-style: italic;
}

.w450 {
    width: 450px;
    margin: 0 auto;
}
.w660 {
    width: 660px;
    margin: 0 auto;
}
.w860 {
    width: 860px;
    margin: 0 auto;
}
.w980 {
    width: 980px;
    margin: 0 auto;
}
.w1120 {
    max-width: 1150px;
    width: auto;
    margin: 0 auto;
}

/* Wrapper */
.emag-wrapper {
    font-family: 'Noto Serif', serif;
    padding-bottom: 60px;
}
.emag-wrapper[data-section="0"] {
    background-color: #000;
    color: #adadad;
}
.emag-wrapper[data-section="1"] {
    background-color: #000;
    color: #7e7e7e;
}
.emag-wrapper[data-section="2"] {
    background: url('../images/tab3/bg.jpg') repeat;
}
.emag-wrapper[data-section="3"] {
    background-color: #000;
    color: #9b9b9b;
}

/* Cover */
.emag-cover {
    margin-bottom: 30px;
}
.emag-cover img {
    width: 100%;
}

/* Content */
.emag-content p {
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 30px;
}
.emag-gallery img {
    width: 100%;
}
#firstGalleryAnchor {
    text-align: center;
    margin-top: 15px;
    font-family: 'Swiss', sans-serif;
}
#firstGalleryAnchor li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
#firstGalleryAnchor li.next,
#firstGalleryAnchor li.prev,
#firstGalleryAnchor li.active {
    color: #ffbe4d;
}
p.emag-notice {
    line-height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}
.emag-wrapper[data-section="1"] p.emag-notice {
    color: #616161;
    border-color: #555555;
    font-style: italic;
    display: block;
}
.emag-image,
.emag-imagefull {
    margin-bottom: 30px;
}
.emag-image img,
.emag-imagefull img {
    width: 100%;
}
.emag-imagefull .emag-caption {
    padding: 0 30px;
}
p.emag-caption {
    font-family: 'Myriad', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
}
.emag-title {
    margin-top: 60px;
    margin-bottom: 30px;
}
.emag-title img {
    width: 100%;
}
.emag-imageright::after {
    content: '';
    display: block;
    clear: both;
}
.emag-imageright img {
    float: right;
    margin-right: -160px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.emag-letter {
    width: 1120px;
    margin: 0 auto;
    background: url('../images/tab3/letter.png') no-repeat;
    padding: 150px 0;
    font-family: 'Isadora', sans-serif;
}
.emag-letter-title p {
    font-size: 30px;
}
.emag-letter-content {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    /* align-items: center;
    -webkit-align-items: center; */
}
.emag-letter-content > div {
    width: calc((100% - 40px) / 2);
}
.emag-letter-content p {
    font-size: 21px;
    line-height: 32px;
}
.emag-letter-content p.txtR {
    text-align: right;
}
.emag-letter-content p.sign {
    font-size: 30px;
}
.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffbe4d'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffbe4d'%2F%3E%3C%2Fsvg%3E")
}


/* Selector */
.emag-selector {
    margin-top: 100px;
}
.emag-selector ul {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.emag-selector li {
    position: relative;
    width: calc((100% - 40px) / 2);
    cursor: pointer;
    overflow: hidden;
}
.emag-selector li:nth-child(-n + 2) {
    margin-bottom: 40px;
}
.emag-selector li:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.2;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
.emag-selector--img {
    width: 100%;
}
.emag-selector--text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
}
.emag-selector li:hover::before,
.emag-selector li.active::before {
    opacity: 0;
}
.emag-selector li:hover .emag-selector--text,
.emag-selector li.active .emag-selector--text {
    opacity: 1;
}

/* Credit */
.emag-credit {
    margin-top: 60px;
}
.emag-credit img {
    width: 100%;
}

/* Navigator */
.emag-nav {
    position: fixed;
    top: 60px;
    right: 20px;
    font-family: 'Arial', sans-serif;
    z-index: 9999;
}
.emag-nav li {
    display: inline-block;
    margin: 0 5px;
    font-size: 27px;
    line-height: 56px;
    padding: 0 20px;
    background-color: #fcc10c;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}
.emag-nav li.active {
    background-color: #000;
    color: #fff;
}